#calcite-container dialog.official-mods {
  min-width: 30rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: 60vh;
    overflow-y: scroll;
    padding-top: 0.5rem;

    div {
      position: relative;

      span {
        display: flex;
        gap: 0.5rem;
      }

      .right {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
